.sectionMain{
    display: flex;
    background: white;
}
.logotip{
    width: 220px;
}
.headerMain{
    padding: 10px 30px;
}
.kabinet{
    font-size: 1rem;
    border-radius: 25px;
    padding: 10px 25px;
    border: 2px solid #6b3354;
    color: black; 
    outline: none;
}
.kabinet:hover{
    background:linear-gradient(180deg,#6b3354 0,#3c4673 100%);
    color: white;
}
.leftMain{
    background-image: url('../../img/blackPNG.png');
    background-size: contain; 
    background-position: center;
    background-repeat: no-repeat;
    width: 50%;
    height: 90vh;
}
.rightMain{
    width: 50%;
    height: 90vh;
    background: transparent;
    padding: 0px 25px;
}
.rightMain h4{
    color: #6b3354;
    font-size: 2rem;
    margin-top: 40px;
    margin-left: 50px;
    padding-bottom: 30px;
    letter-spacing: -1px;
    box-sizing: border-box;
}

.rightMain i{
    color: #6b3354;
    font-size: 1.75rem;
    width: 50px;
    text-align: center;
}

.rightMain a{
    color: rgba(0, 0, 0, 0.8);
    text-decoration: none;
}

.rightMain span{
    font-size: 1.2rem;
    font-weight: 300;
}

.headerMain img{
    padding:30px;
}

.headerMain{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(128,128,128, 0);
}
.sep{
    width: 100%;
    height: 100px;
    background: rgba(128,128,128, 0.15);
}
.lists{
    padding: 20px 10px;
    border-bottom: 2px solid rgba(128,128,128, 0.15);
    cursor: pointer;
    font-family: 'Heebo', sans-serif;
    font-weight: 300;
    transition: 0.4s ease;  
    font-size: 0.95rem;
}

.lists:hover{
    background-image: linear-gradient(180deg,#6b3354 0,#3c4673 100%);
    color: white;
    transition: 0.4s ease;  
}
.lists:hover i{
    color: white;
    transition: 0.4s ease;  
}

.title{
    border-bottom: 2px solid rgba(128,128,128, 0.15);
}

@media screen and (max-width:900px){
    section{
        flex-direction: column;
    }
    .leftMain{
        width: 100%;
    }
    .rightMain{
        width: 100%;
    }
    footer{
        flex-direction: column;
    }
}


footer span{
    margin-left: 25px;
}

footer{
    background: rgb(39, 39, 46);
    color: white;
    font-size: 1.1rem;
}

footer a{
    color: white;
    text-decoration: none;
}
footer a:hover{
    color: #6b3354;
    text-decoration: none;
    transition: 0.3s ease;
}


.cont-logo{
    will-change: transform, opacity;
    animation: container-anim 0.7s linear;
}
.beforeRotate{
    will-change: transform,width,height,opacity;
    animation: come-anim 0.7s linear;
}


.divok{
    position: absolute;
    width: 100%;
    will-change: width,height,opacity,transform,padding,margin;
}


@keyframes come-anim{
    0%{
        transform: rotate(90deg);
        opacity: 0;
    } 
    100%{
        transform: rotate(90deg);
        opacity: 1;
    }
}


@keyframes container-anim{
    0%{
        transform: rotate(90deg);
    }
    100%{
        transform: rotate(0deg);
      }
}


@keyframes logotip_first{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
      }
}

@keyframes logotip{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
      }
}

#bars {
    height: 30px;
    left: 44.5%;
    margin: -30px 0 0 -20px;
    position: absolute;
    top: 50%;
    width: 45px;
    border-bottom: 4px solid transparent;
    border-image: linear-gradient(to right,#812b47 , #394674  );
    border-image-slice: 1;
    animation: sound2 5s linear;
}

#image{
    position: absolute;
    left:50%;
    top: 49%;
    height: 30px;
}
#image img{
    width: 120px;
    margin: -60px 0 0 -40px;
    padding: 0px;
}

#image::before{
    content: " ";
    position: absolute;
    left: 0; right: 0;
    top: 0; bottom: 0;
    margin: -60px 0 0 -40px;
    background: white;
    z-index: 2;
    will-change: width;
    animation: disappear-anim 4.9s linear;
}

@keyframes disappear-anim{
    from {
        width: 160%;
        left:0;
    }
    40%{
        width: 160%;
        left:0;
    }
    80%{
        width: 0%;
        left: 160%;
    }
    to{
        width: 0%;
        left: 160%;
    }
}

.bar {
    bottom: 1px;
    position: absolute;
    margin-bottom: 2px;
    width: 5px;      
    will-change: opacity,height;
    opacity: 0;
    border-radius: 2px;
    animation: sound 0ms -800ms linear infinite alternate;
}

@keyframes sound {
    0% {
       opacity: .35;
        height: 15px; 
    }
    100% {
        opacity: 1;       
        height: 60px;        
    }
}

@keyframes sound2 {
    15% {
        transform: rotate(0);
    }
    35%{
        transform: rotate(-90deg);
    }
    75% {
        transform: rotate(-90deg); 
    }
    90%{
        transform: rotate(-90deg); 
        opacity: 1;
    }
    95%{
        transform: rotate(-90deg); 
        opacity: 0;
    }
    100%{
        transform: rotate(-90deg); 
        opacity: 0;
    }
}

.bar:nth-child(1)  { height:50px;background: #812b47; left: 1px; animation-duration: 474ms; }
.bar:nth-child(2)  { height:60px;background: #763251;left: 11px; animation-duration: 433ms; }
.bar:nth-child(3)  { height:70px;background: #673a5d;left: 20px; animation-duration: 407ms; }
.bar:nth-child(4)  {height:60px; background: #534169;left: 29px; animation-duration: 458ms; }
.bar:nth-child(5)  {height:50px; background: #394674;left: 38px; animation-duration: 400ms; }


.cover-wrap{
    display: flex;
    flex-wrap: wrap;
    max-width: 28%;
    position: absolute;
    left: 12%;
}

.cover-elem{
    width: 25px;
    background: white;
    height: 25px;
    will-change: opacity;
    border: 1px solid white;
    opacity: 0;
}

.cover-elem:nth-child(n).cover-elem:nth-child(-n+14){
    -webkit-animation: cover-anim 4.7s ease;
    animation: cover-anim 4.7s ease;
}
.cover-elem:nth-child(n+14).cover-elem:nth-child(-n+28){
    -webkit-animation: cover-anim 4.6s ease;

    animation: cover-anim 4.6s ease;
}
.cover-elem:nth-child(n+28).cover-elem:nth-child(-n+42){

    -webkit-animation: cover-anim 4.5s ease;
    animation: cover-anim 4.5s ease;
}
.cover-elem:nth-child(n+42).cover-elem:nth-child(-n+56){
    -webkit-animation: cover-anim 4.4s ease;
    animation: cover-anim 4.4s ease;
}
.cover-elem:nth-child(n+56).cover-elem:nth-child(-n+70){
    -webkit-animation: cover-anim 4.3s ease;
    animation: cover-anim 4.3s ease;
}
.cover-elem:nth-child(n+70).cover-elem:nth-child(-n+84){
    -webkit-animation: cover-anim 4.2s ease;
    animation: cover-anim 4.2s ease;

}
.cover-elem:nth-child(n+84).cover-elem:nth-child(-n+98){
    -webkit-animation: cover-anim 4.1s ease;
    animation: cover-anim 4.1s ease;

}
.cover-elem:nth-child(n+98).cover-elem:nth-child(-n+112){
    -webkit-animation: cover-anim 4s ease;
    animation: cover-anim 4s ease;

}
.cover-elem:nth-child(n+112).cover-elem:nth-child(-n+126){
    -webkit-animation: cover-anim 3.9s ease;
    animation: cover-anim 3.9s ease;

}
.cover-elem:nth-child(n+126).cover-elem:nth-child(-n+140){
    -webkit-animation: cover-anim 3.8s ease;
    animation: cover-anim 3.8s ease;

}
.cover-elem:nth-child(n+140).cover-elem:nth-child(-n+154){
    -webkit-animation: cover-anim 3.7s ease;
    animation: cover-anim 3.7s ease;

}
.cover-elem:nth-child(n+154).cover-elem:nth-child(-n+170){
    -webkit-animation: cover-anim 3.6s ease;
    animation: cover-anim 3.6s ease;

}
.cover-elem:nth-child(n+170).cover-elem:nth-child(-n+184){
    -webkit-animation: cover-anim 3.5s ease;
    animation: cover-anim 3.5s ease;
}
.cover-elem:nth-child(n+184).cover-elem:nth-child(-n+198){
    -webkit-animation: cover-anim 3.4s ease;
    animation: cover-anim 3.4s ease;

}
.cover-elem:nth-child(n+198).cover-elem:nth-child(-n+214){
    -webkit-animation: cover-anim 3.3s ease;
    animation: cover-anim 3.3s ease;

}
.cover-elem:nth-child(n+214).cover-elem:nth-child(-n+228){
    -webkit-animation: cover-anim 3.2s ease;
    animation: cover-anim 3.2s ease;   

}
.cover-elem:nth-child(n+228).cover-elem:nth-child(-n+242){
    -webkit-animation: cover-anim 3.1s ease;
    animation: cover-anim 3.1s ease;

}
.cover-elem:nth-child(n+242).cover-elem:nth-child(-n+256){
    -webkit-animation: cover-anim 3s ease;
    animation: cover-anim 3s ease;

}
.cover-elem:nth-child(n+256).cover-elem:nth-child(-n+270){
    -webkit-animation: cover-anim 2.9s ease;
    animation: cover-anim 2.9s ease;

}
.cover-elem:nth-child(n+270).cover-elem:nth-child(-n+284){
    -webkit-animation: cover-anim 2.8s ease;
    animation: cover-anim 2.8s ease;

}
.cover-elem:nth-child(n+284).cover-elem:nth-child(-n+298){
    -webkit-animation: cover-anim 2.7s ease;
    animation: cover-anim 2.7s ease;
}

.cover-elem:nth-child(n+298).cover-elem:nth-child(-n+312){
    -webkit-animation: cover-anim 2.6s ease;
    animation: cover-anim 2.6s ease;
}
.cover-elem:nth-child(n+312).cover-elem:nth-child(-n+326){
    -webkit-animation: cover-anim 2.5s ease;
    animation: cover-anim 2.5s ease;
}
.cover-elem:nth-child(n+326).cover-elem:nth-child(-n+340){
    animation: cover-anim 2.4s ease;
    -webkit-animation: cover-anim 2.4s ease;
}
.cover-elem:nth-child(n+340).cover-elem:nth-child(-n+354){
    -webkit-animation: cover-anim 2.3s ease;
    animation: cover-anim 2.3s ease;
}
.cover-elem:nth-child(n+354).cover-elem:nth-child(-n+370){
    -webkit-animation: cover-anim 2.2s ease;
    animation: cover-anim 2.2s ease;

}
.cover-elem:nth-child(n+370).cover-elem:nth-child(-n+384){
    -webkit-animation: cover-anim 2.1s ease;
    animation: cover-anim 2.1s ease;
}
.cover-elem:nth-child(n+384).cover-elem:nth-child(-n+398){
    -webkit-animation: cover-anim 2s ease;
    animation: cover-anim 2s ease;
}







@keyframes cover-anim{
    from{
        opacity: 1;
    }
    50%{
        opacity: 0.99;
    }
    99%{
        display: flex;
    }
    to{
        opacity: 0;
    }
}
@-webkit-keyframes cover-anim{
    from{
        opacity: 1;
    }
    50%{
        opacity: 0.99;
    }
    99%{
        display: flex;
    }
    to{
        opacity: 0;
    }
}
@media screen and (max-width:450px){
    .kabinet{
        font-size: 0.8rem;
        padding: 3px 10px;
        text-align: center;
    }
    #bars{
        left: 32%;
    }
    #image{
        left: 52%;
    }
    .leftMain{
        background-position: top;
    }
    .rightMain{
        margin-top: -200px;
    }

    .rightMain span{
        font-size: 1rem;
        font-weight: 300;
    }
    .rightMain{
        padding: 0 15px;
    }
    .cover-wrap{
        max-width: 100%;
    }
    .cover-elem{
        width: 4.2vw;
        background: white;
        height: 4.2vh;
        will-change: opacity;
        border: 1px solid transparent;
        opacity: 0;
    }
}
